/* ---------- Color ----------- */

body,
body.overlay {
  color: #888;
}

.comment .comment-arrow {
  border-color: #000000;
}

.tabs ul.primary li a.active {
  background-color: #000000;
}
.tabs ul.primary li.active a {
  background-color: #000000;
  border-bottom: 1px solid #000000;
}
#header {
  background-color: #ff0000;
  background-image: -moz-linear-gradient(top, #800000 0%, #ff0000 100%);
  background-image: -ms-linear-gradient(top, #800000 0%, #ff0000 100%);
  background-image: -o-linear-gradient(top, #800000 0%, #ff0000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #800000), color-stop(1, #ff0000));
  background-image: -webkit-linear-gradient(top, #800000 0%, #ff0000 100%);
  background-image: linear-gradient(top, #800000 0%, #ff0000 100%);
}
a,
.link {
  color: #ff8888;
}
a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #e00502;
}
a:active,
.link:active {
  color: #ff2723;
}

#page-wrapper,
#footer-wrapper {
  background: #bb0000;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}

/* --------------- Main Menu ------------ */
#main-menu-links a {
  color: #aaa;
  background: #777;
  background: rgb(119, 119, 119);
  text-shadow: 0 1px #eee;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
  color: #eee;
}
#main-menu-links a:active {
  color: #bbb;
}
/* --------------- Secondary Menu ------------ */

#secondary-menu-links  a {

}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus {

}

/* ----------------- Featured ----------------- */

#featured {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff;
}


/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 1px solid #d3d7d9;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
}

/* ----------------- Content ------------------ */

h1#page-title {

}
#content h2 {

}

.view-mode-teaser h2 a {
  color: #181818;
}
.view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
}
.view-mode-teaser.sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
}

.meta {
  color: #888;
}

ul.links {
  color: #888;
}

/* ------------------ Sidebar ----------------- */

.sidebar .block {
  background-color: #400000;
  border: 1px solid #888;
}
.sidebar h2 {
  background: #e80000;
  color: #eee;
  text-shadow: 0 1px 0 #fff;
}
.sidebar .block .content {

}
.sidebar tr.even,
.sidebar tr.odd {
  border-bottom: 1px solid #d6d6d6;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
#triptych h2 {
  color: #000;
  text-shadow: 0 1px 0 #fff;
}
#triptych .block {
  border-bottom: 1px solid #dfdfdf;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
}
#footer-wrapper a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper a:hover,
#footer-wrapper a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
  text-decoration: underline;
}
#footer-wrapper .block {
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
}
#footer .block > h2 {
  /* @extend .visually-hidden */
  clip: rect(1px, 1px, 1px, 1px);
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer-columns .content li a {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
}
#footer {
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer li a {
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
[dir="rtl"] #footer li a {
  border-left: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}
/* ---------------- Messages  ----------------- */

.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
/* --------------- System Tabs  --------------- */

.tabs ul.primary {
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #000;
}
.tabs ul.primary li a {
  color: #fff;
  background-color: #1d1d1d;
  border-color: #555;
  border-style: solid solid none solid;
  text-shadow: 0 1px 0 #aaa;
}
.tabs ul.primary li.active a {
  background-color: #000;
  border: 1px solid #888;
  border-bottom: 1px solid #000;
}
.tabs ul.secondary li {
  border-right: 1px solid #ccc; /* LTR */
}
[dir="rtl"] .tabs ul.secondary li {
  border-left: 1px solid #ccc;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
}